<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<p>
<div><strong>My stickers:</strong></div>
  <% @user.stickers.each do |sticker| %>
    <%= image_tag sticker.image_url(:thumb) if sticker.image? %>
    <%= link_to 'Destroy', sticker, method: :delete, data: { confirm: 'Are you sure?' }%>
  <% end %>
</div>
