<p id="notice"><%= notice %></p>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>
<div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
<h4><strong>My stickers:</strong></h4>
  <% @stickers.each do |sticker| %>
    <%= image_tag sticker.image_url(:thumb) if sticker.image? %>
    <%= link_to 'Destroy', sticker, method: :delete, data: { confirm: 'Are you sure?' }%>
  <% end %>
  </br>
<%= will_paginate @stickers %>
